<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	
	<div id="container">
	
	<div id="nav">
	<p><a href="/">Data source</a></p>
	<p><a href="/data">Data options</a></p>
	<p><a href="/classifier">Algorithm</a></p>
	<p><a href="/result">Result</a></p>
	<p><a href="/copy">Copy</a></p>
	<p><form method="post" action="copy"><button type="submit" name="slot" value="1">1</button><button type="submit" name="slot" value="2">2</button></form>
	<p><a id="wyczysc" href="/wyczysc">Reset</a></p>
	<p><a href="/help">Help</a></p></p>
	</div>
	
	<div id="content">
	<h4>Copy direction</h4>
	<form method="post" action="copy"><button type="submit" name="kopia" value="12">1 -&gt; 2</button></form>
	<form method="post" action="copy"><button type="submit" name="kopia" value="21">2 -&gt; 1</button></form>
	
	
	</div>
	
	
	
	</div>
	
	
	
	
	
	</body>
</html>
