<!DOCTYPE HTML>
<html>

<head>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	
	<div id="container">
	
	<div id="nav">
	<p><a href="/">Źródlo danych</a></p>
	{% if 'dane_raw' in session%}
	<p><a href="/dane">Opcje danych</a></p>
	{% endif %}
	{% if 'dane' in session %}
	<p><a href="/klasyfikator">Algorytm</a></p>
	{% endif %}
	{% if 'confm' in session %}
	<p><a href="/wynik">Wynik</a></p>
	{% endif %}
	{% if 'dane_raw' in session %}
	<p><a id="wyczysc" href="/wyczysc">Wyczyść</a></p>
	{% endif %}
	</div>
	
	<div id="content">
	
	<h4>Przygotuj dane</h4>
	<form method="post" action="klasyfikator">
		{% if 'target_col' in session %}
		Numer kolumny z nazwami klas: <input type="number" name="target" value="{{session['target_col']}}"required/><br />
		{% else %}
		Numer kolumny z nazwami klas: <input type="number" name="target"required/><br />
		{% endif %}
		Przedział normalizacji: <input type="number" name="nmin" value="-1"/>-<input type="number" name="nmax" value="1"required/><br />
		Pierwszy wiersz: <input type="checkbox" name="pwiersz" checked><br/>
		Puste dane: <br/>
		Usuń braki<input type="radio" name="puste" value="usun" checked><br/>
		Uśrednij<input type="radio" name="puste" value="usrednij"><br/>
		<button type="submit">Zatwierdź</button>
	</form>
	Wierszy: {{n_wierszy}}<br/>
	Podgląd:
	{{preview|safe}}
	
	</div>
	
	
	</body>
</html>
