<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	
	<div id="container">
	
	<div id="nav">
	<p><a href="/">Data source</a></p>
	<p><a href="/dane">Data options</a></p>
	<p><a href="/klasyfikator">Algorithm</a></p>
	<p><a href="/result">Result</a></p>
	<p><a href="/kopiuj">Copy</a></p>
	<p><form method="post" action="dane"><button type="submit" name="slot" value="1">1</button><button type="submit" name="slot" value="2">2</button></form>
	<p><a id="wyczysc" href="/wyczysc">Reset</a></p>
	<p><a href="/help">Help</a></p></p>
	</div>
	
	<div id="content">
	Slot: {{session['slot']}}<br/>
	{% if session['slot']==1 %}
	Current file: {{session['result1'].filename}}
	{% elif session['slot']==2 %}
	Current file: {{session['result2'].filename}}
	{% endif %}
	<h4>Submit file containing data</h4>
	<form method="post" action="dane" enctype=multipart/form-data>
		Select: <input type="file" name="dane" value="xd" required /><br/>
		Separator: <input type="text" name="separator" required/>
		<button type="submit">Submit</button>
	</form>
	
	</div>
	
	
	
	</div>
	
	
	
	
	
	</body>
</html>
