<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	
	<div id="container">
	
	<div id="nav">
	<p><a href="/">Źródlo danych</a></p>
	<p><a href="/dane">Opcje danych</a></p>
	<p><a href="/klasyfikator">Algorytm</a></p>
	<p><a href="/wynik">Wynik</a></p>
	<p><a href="/kopiuj">Kopiuj</a></p>
	<p><a id="wyczysc" href="/wyczysc">Wyczyść</a></p>
	<p><form method="post" action="dane"><button type="submit" name="slot" value="1">1</button><button type="submit" name="slot" value="2">2</button></form></p>
	</div>
	
	<div id="content">
	Slot: {{session['slot']}}<br/>
	{% if session['slot']==1 %}
	Obecny plik: {{session['wynik1'].filename}}
	{% elif session['slot']==2 %}
	Obecny plik: {{session['wynik2'].filename}}
	{% endif %}
	<h4>Prześlij plik z danymi</h4>
	<form method="post" action="dane" enctype=multipart/form-data>
		Wybierz plik: <input type="file" name="dane" required/><br/>
		Separator: <input type="text" name="separator" required/>
		<button type="submit">Wyślij</button>
	</form>
	
	</div>
	
	
	
	</div>
	
	
	
	
	
	</body>
</html>
