<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	
	<div id="container">
	
	<div id="nav">
	<p><a href="/">Źródlo danych</a></p>
	{% if 'dane_raw' in session%}
	<p><a href="/dane">Opcje danych</a></p>
	{% endif %}
	{% if 'dane' in session %}
	<p><a href="/klasyfikator">Algorytm</a></p>
	{% endif %}
	{% if 'confm' in session %}
	<p><a href="/wynik">Wynik</a></p>
	{% endif %}
	{% if 'dane_raw' in session %}
	<p><a id="wyczysc" href="/wyczysc">Wyczyść</a></p>
	{% endif %}
	</div>
	
	<div id="content">
	
	<h4>Prześlij plik z danymi</h4>
	<form method="post" action="dane" enctype=multipart/form-data>
		Wybierz plik: <input type="file" name="dane" required/><br/>
		Separator: <input type="text" name="separator" required/>
		<button type="submit">Wyślij</button>
	</form>
	
	</div>
	
	
	
	</div>
	
	
	
	
	
	</body>
</html>
