<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	
	<div id="container">
	
	<div id="nav">
	<p><a href="/">Data source</a></p>
	<p><a href="/dane">Data options</a></p>
	<p><a href="/klasyfikator">Algorithm</a></p>
	<p><a href="/result">Result</a></p>
	<p><a href="/kopiuj">Copy</a></p>
	<p><a id="wyczysc" href="/wyczysc">Reset</a></p>
	<p><form method="post" action="dane"><button type="submit" name="slot" value="1">1</button><button type="submit" name="slot" value="2">2</button></form></p>
	</div>
	
	<div id="content">
		Slot: {{session['slot']}}<br/>
		{% if session['slot']==1 %}
	Current file: {{session['result1'].filename}}<br/>
	Current algorithm: {{session['result1'].alg}}<br/>
	{{session['result1'].params|safe}}
	{% elif session['slot']==2 %}
	Current file: {{session['result2'].filename}}<br/>
	Current algorithm: {{session['result2'].alg}}
	{{session['result2'].params|safe}}
	{% endif %}
		<h4>Select algorithm</h4>
		<form method="post" action="result">
		<select id="algs" name="algs">
			<option value="LR" selected>Logistic regression</option>
			<option value="KNN">KNN classifier</option>
			<option value="SVM">SVM classifier</option>
			<option value="Dummy">Dummy classifier</option>
			<option value="NB">Naive Bayes classifier</option>
			<option value="GBC">Gradient boosting classifier</option>
			<option value="DT">Decision tree classifier</option>
			<option value="RF">Random forest classifier</option>
			<option value="Ridge">Ridge classifier</option>
			<option value="LDA">LDA classifier</option>
		</select>
		<div id="params">
		<table><tr><td>Epoki: </td><td><input type="number" name="epoki" value="100" required></td></tr><tr><td>Tolerancja: </td><td><input type="number" name="tol" value=0.0001 step="any" required></td></tr><tr><td>Metoda: </td><td><select name="method"><option value="lbfgs" selected>lbfgs</option><option value="liblinear">liblinear</option><option value="newton-cg">newton-cg</option><option value="newton-cholesky">newton-cholesky</option><option value="sag">sag</option><option value="saga">saga</option></select></td></tr></table>
		</div>
		<button type="submit">Submit</button>
		<button type="submit" name="auto" id="auto">Auto</button><div id="wait">Please wait</div>
	</form>
	
	</div>
	
	
	</body>
</html>
<script src="{{ url_for('static', filename='algs.js') }}"></script>
<script src="{{ url_for('static', filename='wait.js') }}"></script>
