<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	
	<div id="container">
	
	<div id="nav">
	<p><a href="/">Źródlo danych</a></p>
	<p><a href="/dane">Opcje danych</a></p>
	<p><a href="/klasyfikator">Algorytm</a></p>
	<p><a href="/wynik">Wynik</a></p>
	<p><a href="/kopiuj">Kopiuj</a></p>
	<p><a id="wyczysc" href="/wyczysc">Wyczyść</a></p>
	</div>
	
	<div id="content">
	<h4>Kierunek kopiownia</h4>
	<form method="post" action="kopiuj"><button type="submit" name="kopia" value="12">1 -&gt; 2</button></form>
	<form method="post" action="kopiuj"><button type="submit" name="kopia" value="21">2 -&gt; 1</button></form>
	
	
	</div>
	
	
	
	</div>
	
	
	
	
	
	</body>
</html>
