<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	
	<div id="container">
	
<div id="nav">
	<p><a href="/">Źródlo danych</a></p>
	{% if 'dane_raw' in session%}
	<p><a href="/dane">Opcje danych</a></p>
	{% endif %}
	{% if 'dane' in session %}
	<p><a href="/klasyfikator">Algorytm</a></p>
	{% endif %}
	{% if 'confm' in session %}
	<p><a href="/wynik">Wynik</a></p>
	{% endif %}
	{% if 'dane_raw' in session %}
	<p><a id="wyczysc" href="/wyczysc">Wyczyść</a></p>
	{% endif %}
	</div>
	
	<div id="content">
	
	<h4>Algorytm: {{alg}}</h4>
	{% if alg=="KNN" %}
	n = {{params}} <br/>
	{% endif %}
	{% if alg=="Regresja logistyczna" %}
	{{params|safe}} <br/><br/>
	{% endif %}
	{% if alg=="SVM" %}
	{{params|safe}} <br/><br/>
	{% endif %}
	Accuracy = {{acc}}<br/>
	Recall = {{rec}}<br/>
	Precision = {{prec}}<br/>
	<h5>Macierz pomyłek</h5>
	{{confm|safe}}
	</form>
	
	</div>
	
	
	
	</body>
</html>
